* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat', sans-serif;
    --opensans: 'Open Sans', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
    width: 1200px;
    margin: auto;
}

.logo {
    text-align: center;
    background-color: rgb(218, 212, 211);
}

.logo img {
    height: 80px;
}

.ul__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
}

.ul__list li,
a {
    font-size: 20px;
    font-family: var(--montserrat);
    list-style: none;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.ul__list li,
a:hover {
    transition-duration: .3s;
    color: orangered;
}

/* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://kusalthiwanka.github.io/images/kusal.jpg"); */

.banner__body {
    background: linear-gradient(rgba(48, 45, 45, 0.5), rgb(49 49 49)), url("../images/banner.jpg");
    /* background: linear-gradient(rgba(48, 45, 45, 0.5), rgb(49 49 49)), url("https://images.pexels.com/photos/442574/pexels-photo-442574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner__content {
    text-align: right;
    color: aliceblue;
    padding-top: 160px;
    padding-bottom: 160px;
}

.banner__content h1 {
    font-family: var(--montserrat);
    font-size: 42px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.banner__content p {
    width: 50%;
    margin-left: auto;
    font-family: var(--opensans);
    padding: 20px 0;
    padding-bottom: 40px;
}

.banner__content a {
    background-color: black;
    border-radius: 25px;
    padding: 15px 25px;
    display: inline-block;
    color: aliceblue;
    font-family: var(--montserrat);
}

.banner__content a:hover {
    background-color: aliceblue;
    color: rgb(39, 38, 38);
}

.menue__header {
    text-align: center;
    padding: 90px 0px;
}

.menue__header h1 {
    font-family: var(--montserrat);
    font-size: 32px;
}

.menue__header p {
    margin-top: 20px;
    font-family: var(--opensans);
}

.menue__lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-align: center;

}

.menue__item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

.menue__item:hover {
    background-color: rgb(14, 12, 12);
    color: white;
}

.menue__item i {
    font-size: 35px;
    color: rgb(75, 201, 223);
    padding: 10px 0px;
}

.menue__item h1 {
    font-size: 22px;
    font-family: var(--montserrat);
    padding: 15px 0px;
}

.menue__item p {
    font-family: var(--opensans);
    padding-bottom: 8px;
    font-size: 14px;

}

.about {
    padding: 80px 0px;
}

.about__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about__image img {
    width: 450px;
    border-radius: 10px;
}

.about__description h1 {
    font-family: var(--montserrat);
}

.about__description p {
    font-family: var(--opensans);
    color: rgb(49, 49, 49);
    padding-bottom: 20px;
}

.project__wrapping {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project__heading {
    text-align: center;
    padding-bottom: 80px;
}

.project__heading h1 {
    font-family: var(--montserrat);
    font-size: 32px;
}

.project__heading p {
    font-family: var(--opensans);
    padding-top: 20px;
}

.project__wrapping div img {
    width: 100%;
    border-radius: 5px;
}
.contact__section{
    padding: 90px 0px ;
}
.contact__heading {
   
    padding-bottom: 50px;
    text-align: center;

}

.contact__heading h1 {
    font-size: 32px;
    font-family: var(--montserrat);
}

.contact__heading p {
    font-size: 14px;
    font-family: var(--opensans);
    padding: 20px 0px;
    color: rgb(49, 49, 49);
}

.contact__body {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 60px;
}

.input__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.input__div input,
textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid rgb(88, 88, 88);
    margin-bottom: 30px;
    background-color: #f5f5f5;
}

.submit__button {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    float: right;
}

.heading__wrapper h2 {
    font-size: 32px;
    font-family: var(--montserrat);
}

.heading__wrapper p {
    font-size: 14px;
    font-family: var(--opensans);
    padding: 30px 0px;
}

.contact__info ul li {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
    color: rgb(49, 49, 49);
}

.contact__info ul li i {
    font-size: 22px;
}

.contact__info ul li p {
    font-size: 16px;

}

.footer__content {
    background-color: rgb(47, 47, 71);
    padding: 50px 0px;

}

.footer__content p {
    text-align: center;
    font-family: var(--opensans);
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}

.footer__content ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer__content ul li {
    list-style: none;
}

.footer__content ul li a i {
    /* display: inline-block; */
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: black;
    background-color: white;
}

.footer__content ul li a i:hover {
    color: white;
    background-color: orangered;
    transition-duration: .3s;
}